<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICMeterDataCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ICMeterDataCollector.ICMeterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICMeterDataCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ICMeterDataCollector.Properties.Settings>
            <setting name="OpenWeatherURI" serializeAs="String">
                <value>http://api.openweathermap.org/data/2.5/weather?lat=56.05&amp;lon=12.69</value>
            </setting>
            <setting name="ICMenterTokenURI" serializeAs="String">
                <value>http://app.ic-meter.com/icm/oauth/token?client_id=trusted-client&amp;grant_type=password&amp;scope=trust&amp;username=demo@ic-meter.com&amp;password=demo</value>
            </setting>
        </ICMeterDataCollector.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ICMeterDataCollector.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoxIDs" serializeAs="String">
                <value>573;574;575;576</value>
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
            </setting>
        </ICMeterDataCollector.Properties.Settings>
    </userSettings>
</configuration>